
판매자 : <a><%=@seller.name%></a><br>
구매자 : <a><%=@buyer.name%></a><br>
물품 : <a><%=@product.id%></a><br>

<ul id="chat_box">
	<% @chat_messages.each do |chat_message|%>
    <li> 
		<%=chat_message.user_id%>|<%=chat_message.created_at.strftime('%-d/%-m/%Y %k:%M:%S')%>:<%=chat_message.content%>
		</li>
	<%end%>
</ul>
<hr>
<input id="msg_input" type="text" name="message">
<button id="send_button">Post</button>
<input id="chat_id" type="hidden" value="<%=@chat_id%>">
<input id="user_id" type="hidden" value="<%=@user_id%>">

<hr>

