<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span4">
				<p>제품명</p>
			</div>
			<div class="span8">
				<input type="text" class="input-medium" id="name">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>희망가격</p>
			</div>
			<div class="span8">
				<input type="text" class="input-medium" id="price">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>카테고리</p>
			</div>
			<div class="span8">
				<select id="category">
					<option value="<%=@current_category.id%>"><%=@current_category.name%></option>
					<% @categories.each do |category| %>
					<option value="<%=category.id%>" ><%=category.name%></option>
					<%end%>
				</select>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>판매 수단</p>
			</div>
			<div class="span8">
				<select id="method">
					<% @methods.each do |method| %>
					<option value="<%=method.code%>" ><%=method.name%></option>
					<%end%>
				</select>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<p>희망거래지</p>
			</div>
			<div class="span8">
				<input type="text" class="input-medium" id="place">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>구입 연/월</p>
			</div>
			<div class="span8">
				<input type="text" class="input-mini" placehorder="년" id="year">/
				<input type="text" class="input-mini" placehorder="월" id="month">
			</div>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<p>제품 사진</p>
			</div>
			<div class="span8">
				<img src="https://app.divshot.com/img/placeholder-100x100.gif"><br>
				<a class="btn">불러오기</a>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>판매글</p>
			</div>
			<div class="span8">
				<textarea id="comment"></textarea>
			</div>
		</div>

		<label class="checkbox" for="timeline_check">
			<input type="checkbox" value="true" id="timeline_check" name="checkbox">
			내 타임라인에 게제
		</label>
		<a class="btn" onclick="sell_product_button()">등록</a>
	</div>
</div>

