<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span4">
				<p>제품명</p>
			</div>
			<div class="span8">
				<input type="text" class="input-medium" id="name">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>희망가격</p>
			</div>
			<div class="span8">
				<input type="text" class="input-medium" id="price">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>카테고리</p>
			</div>
			<div class="span8">
				<select id="category">
					<option value="<%=@current_category.id%>"><%=@current_category.name%></option>
					<% @categories.each do |category| %>
					<option value="<%=category.id%>" ><%=category.name%></option>
					<%end%>
				</select>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>판매 수단</p>
			</div>
			<div class="span8">
				<select id="method">
					<% @methods.each do |method| %>
					<option value="<%=method.code%>" ><%=method.name%></option>
					<%end%>
				</select>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<p>희망거래지</p>
			</div>
			<div class="span8">
				<input type="text" class="input-medium" id="place">
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<p>구입 연/월</p>
			</div>
			<div class="span8">
				<input type="text" class="input-mini" placehorder="년" id="year">/
				<input type="text" class="input-mini" placehorder="월" id="month">
			</div>
		</div>
	</div>
	<div class="row-fluid">
  <%= form_for Upload.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add files...</span>
          <%= f.file_field :upload, :multiple=>true %>
          <%= f.hidden_field :product_id %>
        </span>
        <button type="submit" id="submit_button" class="btn btn-primary start" style="display:none" >
          <i class="icon-upload icon-white"></i>
          <span>Start upload</span>
        </button>

      </div>
      <div class="span5">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
  <% end %>

	</div>
	<div class="row-fluid">
		<div class="span4">
			<p>판매글</p>
		</div>
		<div class="span8">
			<textarea id="comment"></textarea>
		</div>
	</div>
	<label class="checkbox" for="timeline_check">
	<input type="checkbox" value="true" id="timeline_check" name="checkbox">
		내 타임라인에 게제
	</label>

	<a class="btn" onclick="sell_product_button()">등록</a>

</div>
<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {%
		upload_amount++;
	for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
<td style="display:none"class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</td>

    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</td>
    <td id="represent">
			<input type="radio" name="represent_id" value="{%=upload_amount%}" onclick="sell_represent_check({%=upload_amount%});"
			{% if(upload_amount==1){ sell_represent_check(1); %} checked="checked"{%}%} >
		</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {%

	download_amount++;
	for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}</td>
        <td class="name">
          <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
        </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td colspan="2"></td>
				{% <%#대표 이미지와 상품을 연결%>
				if(download_amount==represent_number){
						product_id=$("#upload_product_id").val();
						sell_represent_image(product_id,file.id);
					}
				%}
			{% } %}
			
		</tr>
	{% }
	if(upload_amount==download_amount){
		$(location).attr('href',"/product/product_list"); 
	}
		%}
</script>

<script type="text/javascript" charset="utf-8">
	upload_amount=0;
	download_amount=0;
	represent_number=0;
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload();
	});

	function sell_represent_check(id){
		represent_number=id;
	}

	function sell_product_button(){ 
  $.ajax({
    url: "/product/sell_product_json",
    type: "POST",
    data: {
      name: $("#name").val(),
      price: $("#price").val(),
			method : $("#method").val(),
			category_id : $("#category").val(),
      year: $("#year").val(),
      month: $("#month").val(),
			photo : "",
      comment: $("#comment").val(),
      timeline_check: $("#checkbox").is(':checked')
    },
    success: function(data) {
      if(data.error_code==0){
				$("#upload_product_id").val(data.product_id);
				if(upload_amount==0){
					$(location).attr('href',"/product/product_list"); 
				}else{
					$("#submit_button").click();
				}
      }else{
        alert(data.error_msg);
      }
    }
  });
}
function sell_represent_image(product_id,file_id){ 
  $.ajax({
    url: "/product/sell_represent_upload_json",
    type: "POST",
    data: {
			product_id : product_id,
			upload_id : file_id
    },
    success: function(data) {
    }
  });
}
</script>

