<%product=sell_product[:product]%>
<%method=sell_product[:method]%>
<%status=sell_product[:status]%>
<%category=sell_product[:category]%>
<div class="row-fluid well">
	<div class="span12">
					<%=category%>/
					<%=product.name%>/
					<%=product.price%>/
					<%=product.buy_year%>년 <%=product.buy_month%>월/
					<%=method%>/
					<%=status%>/
					<%=product.comment%>
			<br>
			<a class="btn">장바구니</a>
			<a class="btn">메세지 보내기</a></p>
	</div>
</div>

