<!DOCTYPE html>
<html>
  <head>
    <title>Whum Share</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
<%#<script src="faye.js" type="text/javascript"></script>%>
<%#<script src="chat.js" type="text/javascript"></script>%>
  
    <%= csrf_meta_tag %>
  </head>
  <body>
		<%#search form%>
		<%#=render :partial=>'/product/search_div'%>

		<div class="container">
			<%if params[:controller]!="facebook"%>
				<div class="row-fluid">
			<%########################header#################%>
					<%=render :partial=>'/layouts/header_main'%>  
				</div>
				<%########################sidebar#################%>
				<div class="row-fluid">
					<div class="span3" >
						<%case params[:controller]%>
						<%when "product"%>
							<%=render :partial=>"/product/side_category", :locals=>{:categories=>categories, :uplevel_category=>uplevel_category, :current_category=>current_category}%>
						<%when "chat"%>
							<%=render :partial=>"/chat/side_list"%>
						<%when "user"%>
							<%=render :partial=>"/user/side_menu"%>
						<%when "friend"%>
							<%=render :partial=>"/friend/side_list"%>
						<%when "notification"%>
							<%=render :partial=>"/notification/side_menu"%>
						<%end%>
					</div>
					<div class="span9">
						<%= yield %>
					</div>
				</div>
			<%else%>
				<div class="row-fluid">
					<div class="span12">
						<%= yield %>
					</div>
				</div>
			<%end%>
		<%########################body#################%>
			<div class="row-fluid">
				<%=render :partial=>'/layouts/footer_main'%>
			</div>
		</div>
	</body>
</html>
