<!DOCTYPE html>
<html>
  <head>
    <title>Whum Share</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
	<div class="container">
		<div class="row-fluid">
	<%########################header#################%>
			<%if params[:action]!="index"%>
				<%=render :partial=>'/layouts/header_main', :locals=>{:current_user=>current_user}%>  
			<%end%>
		</div>

		<div class="row-fluid">
	<%########################sidebar#################%>
			<div class="span3" style="background-color:grey">
				<%case params[:controller]%>
				<%when "product"%>
					<%=render :partial=>"/product/side_category"%>
				<%when "chat"%>
					<%=render :partial=>"/chat/side_list"%>
				<%when "user"%>
					<%=render :partial=>"/user/side_menu"%>

				<%end%>
			</div>

	<%########################body#################%>
			<div class="span9">
				<%= yield %>
			</div>
		</div>

		<div class="row-fluid">
			<%=render :partial=>'/layouts/footer_main'%>
		</div>

  </body>
</html>
